<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div  class="header">
        <h2 class="h_title">Predict Your salary</h2>
       
    <nav>


        <ul>

          <li><a href="index">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="login">Login</a></li>
          <li><a href="register">SignUp</a></li>

        </ul>
        
    </nav>
   
    </div>
<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore atque magnam quae repellendus cum, dignissimos saepe reprehenderit! Cum animi asperiores nulla. Itaque officiis beatae repellendus laborum omnis illum consectetur quod.</p>
</div>
<div>
    <p>Dolores obcaecati perferendis facilis ullam cumque harum libero soluta officia illum dolorum, veniam ea similique id suscipit temporibus quisquam. Adipisci illo reprehenderit odio dignissimos atque, sapiente officiis animi asperiores nesciunt.</p>
</div>
<div>
    <p>Quidem, modi velit. Suscipit assumenda odit quod magni, aspernatur mollitia quasi optio amet, qui quisquam libero et modi ea nostrum, hic officia? Sequi ex odio nesciunt ad asperiores, vel est.</p>
</div>
<div>
    <p>Nisi autem doloremque earum, accusamus non ea exercitationem culpa necessitatibus possimus repellat voluptatum excepturi eos et ut! Tempora reiciendis explicabo quae. Natus officia ut eaque architecto dignissimos voluptatibus vel eum?</p>
</div>
<div>
    <p>Quae consectetur suscipit quia inventore voluptatum, sint magnam voluptatem facilis aliquam quos porro iure rerum distinctio quisquam molestias ratione vitae unde accusantium odio esse fugiat optio quaerat ipsam? Dolorum, nisi.</p>
</div>



</body>
</html>