<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <div  class="header">
        <h2 class="h_title">Predict Your salary !</h2>
       
    <nav>


        <ul>

          <li><a href="index">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="login">Login</a></li>
          <li><a href="register">SignUp</a></li>

        </ul>
        
    </nav>
   
    </div>

    <div class="input_form">


        <form action="employee" method="post">
            <label for="">How much exrience you have ? : </label>
            <input type="text" name="years">
            <button type="submit">Submit</button>
        </form>

        <h1>Keep looking!</h1>
    </div>
</body>
</html>