<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Index Page</title>
</head>
<body>
    <div class="container">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="/">MLOps Bootcamp demo</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
              </ul>
            </div>
        </nav>

        <div style="margin-bottom: 20px; margin-top: 50px;background-image: url('static/prediction.jpg'); 
        background-size: cover; height: 200px; background-repeat: no-repeat;">
        </div>
        <button class="btn btn-block btn-info" onclick="window.location.href='salary'">
            Predict Your Salary
        </button>
        <button class="btn btn-block btn-info" onclick="window.location.href='loan'">
            Check Loan Eligibility
        </button>
    </div>
</body>
</html>
