<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loans App _ Register</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

      <div class="container">
        <h1>Loan Application</h1>
        <div class="row">
            <div class="register-form">
                <form action="">
                    <div class="form-group"><label for=""></label><input type="text"></div>
                    <div class="form-group"><label for=""></label><input type="text"></div>
                    <div class="form-group"><label for=""></label><input type="text"></div>
                    <div class="form-group"><label for=""></label><input type="text"></div>
                    <div class="form-group"><label for=""></label><input type="text"></div>
                    <div class="form-group"><label for=""></label><input type="text"></div>
                    <div class="form-group"><label for=""></label><input type="text"></div>
                    <div class="form-group"><label for=""></label><input type="text"></div>
                    <div class="form-group"><button type="submit">Register</button></div>
                </form>
            </div>
        </div>
      </div>
    
</body>
</html>